<mat-card class="search-card galaxy-card mat-elevation-z4">
  <form class="search-form minimal-form" 
    (ngSubmit)="onSubmit($event)" 
    (submit)="onSubmit($event)"
    novalidate
    autocomplete="off"
  >
    <mat-form-field appearance="outline" class="search-input full-width">
      <mat-icon matPrefix>search</mat-icon>
      <input 
        matInput 
        placeholder="Buscar Pokémon por nombre o ID" 
        [formControl]="searchControl"
        autocomplete="off"
        (keydown.enter)="onSubmit($event)"
      />
    </mat-form-field>
    
    <div class="search-actions-row">
      <div class="suggestions-inline">
        <div class="suggestion-btn-set">
          <button *ngFor="let name of suggestions" (click)="searchSuggested(name)" class="suggestion-chip-btn">
            {{ name }}
          </button>
        </div>
      </div>
      
      <div class="search-actions">
        <button mat-raised-button class="discover-btn gradient-btn" type="submit" [disabled]="loading || searchControl.invalid">
          <mat-icon>search</mat-icon> 
          Buscar
        </button>
        
        <button mat-raised-button color="accent" class="random-btn" type="button" (click)="onRandom()"[disabled]="loading">
          <mat-icon>auto_awesome</mat-icon> 
          Aleatorio
        </button>
      </div>
    </div>
  </form>
</mat-card>